In [1]:
"""
Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple
"""
name="Jyoti"
l=[1,2,3,4]
height=7.65
t=(4,5,6)

In [5]:
""" 
Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.
"""
var1=''
var2='[DS,ML,Python]'
var3=['DS' , 'ML' , 'Python']
var4=1
print("type of var1 is: ",type(var1))
print("type of var2 is: ",type(var2))
print("type of var3 is: ",type(var3))
print("type of var4 is: ",type(var4))

type of var1 is:  <class 'str'>
type of var2 is:  <class 'str'>
type of var3 is:  <class 'list'>
type of var4 is:  <class 'int'>

In [6]:
"""
Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**
"""
# / is a binary operator which gives quotient of operand1 when it is divided by operand2
a=5/2
print(a)
# % is a binary operator which gives remainder of operand1 when it is divided by operand2
b=5%2
print(b)
# // is a binary operator which gives floor value of quotient of operand1 when it is divided by operand2
c=5//2
print(c)

# ** is a binary operator which gives operand1 to power operand2
d=5**2
print(d)

2.5
1
2
25

In [7]:
"""
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type

"""
l=[12.78,90,23,"cat","dog",True,[12,32,11],(4,2,1),34.00,1]
for i in l:
    print("type of ",i," is: ",type(i))

type of  12.78  is:  <class 'float'>
type of  90  is:  <class 'int'>
type of  23  is:  <class 'int'>
type of  cat  is:  <class 'str'>
type of  dog  is:  <class 'str'>
type of  True  is:  <class 'bool'>
type of  [12, 32, 11]  is:  <class 'list'>
type of  (4, 2, 1)  is:  <class 'tuple'>
type of  34.0  is:  <class 'float'>
type of  1  is:  <class 'int'>

In [9]:
'''
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.
'''
a=int(input("Enter  number A"))
b=int(input("Enter  number B"))
if a<b:
    print("It is not divisble")
else:
    i=1
    while b*i<=a:
        if(b*i==a):
            print("It is purely divisble")
            print(i,"times it is divisble")
            break
        else:
            i=i+1

Enter  number A 10
Enter  number B 5

It is purely divisble
2 times it is divisble

In [11]:
'''
6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.
'''
l=[]
for i in range(0,25):
    l.append(i)

for i in l:
    if i%3==0:
        print(i,"is divisble by 3")
    else:
        print(i,"is not divisble by 3")

0 is divisble by 3
1 is not divisble by 3
2 is not divisble by 3
3 is divisble by 3
4 is not divisble by 3
5 is not divisble by 3
6 is divisble by 3
7 is not divisble by 3
8 is not divisble by 3
9 is divisble by 3
10 is not divisble by 3
11 is not divisble by 3
12 is divisble by 3
13 is not divisble by 3
14 is not divisble by 3
15 is divisble by 3
16 is not divisble by 3
17 is not divisble by 3
18 is divisble by 3
19 is not divisble by 3
20 is not divisble by 3
21 is divisble by 3
22 is not divisble by 3
23 is not divisble by 3
24 is divisble by 3

In [12]:
'''
Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.
'''

'''
Mutable object is a object in which we can change the value of element at a index.eg-list
In Immutable object we can't chage value of element at a index eg- string,tuple

'''
l1=[1,2,3,4]
print(l1)
l1[2]=8
print(l1)

s="hello"
s[2]='k'
print(s)

[1, 2, 3, 4]
[1, 2, 8, 4]

TypeError: 'str' object does not support item assignment